---
---

@import "{{ site.theme }}";

.container, 
.site-content, 
.main-content {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
